<launch>

  <node name="audio_capture_user" pkg="fallrisk_audio" type="audio_capture_user" output="screen">
    <param name="bitrate" value="192"/>
  </node>

  <node name="audio_play_user" pkg="fallrisk_audio" type="audio_play_user" output="screen">
    <param name="dst" value="alsasink"/>
  </node>

</launch>
