<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
  </include>
  <include file="$(find openni_launch)/launch/openni.launch"> 
  </include>
<!--
  <include file="$(find turtlebot_teleop)/launch/keyboard_teleop.launch">
  </include>
-->
  <node name="dist_pub" pkg="kinect_distance" type="dist_pub"/>
  <node name="image_center_dist" pkg="kinect_distance" type="image_center_dist"/>
  <node name="mjpeg_server" pkg="mjpeg_server" type="mjpeg_server" />
</launch>
